@model Cat
@{
    ViewData["Title"] = "Edit";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Home" asp-action="SaveEdit" method="post">
    <div class="row">
        <div class="col-md-3">
            <label asp-for="Name"></label>
            <input class="form-control" asp-for="Name" />
        </div>
        <div class="col-md-3">
            <label asp-for="Age"></label>
            <input class="form-control" asp-for="Age" />
        </div>
        <input asp-for="Id" hidden/>
        <input class="btn btn-primary" type="submit"  value="Save" />
    </div>
   
</form>